[submodule "exercise-software-quality"]
	path = exercise-software-quality
	url = https://github.com/Caioliu/exercise-software-quality.git
[submodule "CoffeeShop"]
	path = CoffeeShop
	url = https://github.com/joaokoa/CoffeeShop.git
[submodule "Fastplay"]
	path = Fastplay
	url = https://github.com/ArthurTRocha/Fastplay.git
[submodule "Original_Paineis"]
	path = Original_Paineis
	url = https://github.com/ArthurTRocha/Original_Paineis.git
[submodule "ConcretAapp"]
	path = ConcretAapp
	url = https://github.com/ArthurTRocha/ConcretAapp.git
[submodule "gmc"]
	path = gmc
	url = https://github.com/ArthurTRocha/gmc.git
[submodule "All-Boro-Tours-Web"]
	path = All-Boro-Tours-Web
	url = https://github.com/luisf-franca/All-Boro-Tours-Web.git
[submodule "All-Boro-Tours-Painel"]
	path = All-Boro-Tours-Painel
	url = https://github.com/luisf-franca/All-Boro-Tours-Painel.git
[submodule "prototype-login-register-arqtool"]
	path = prototype-login-register-arqtool
	url = https://github.com/Caioliu/prototype-login-register-arqtool.git
